In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm
tqdm.pandas()
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [2]:
# Importing files

X_train_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_train_kaggle.csv')
y_train_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\y_train_kaggle.csv')
X_test_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_test_kaggle.csv')
X_train_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33029 entries, 0 to 33028
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CunstructedAASeq_cln  33029 non-null  object
 1   Id                    33029 non-null  int64
dtypes: int64(1), object(1)
memory usage: 516.2+ KB

In [3]:
# Discarding records with length 235 
length = [len(X_train_0.CunstructedAASeq_cln[i]) for i in range(len(X_train_0))]
X_train_0['_length'] = length
X_train_0 = X_train_0[X_train_0['_length'] == 237]

# removed 2000 records with length 235, only ones with 237 are remaining
X_train_0['_length'].unique()
X_train_0.drop(columns = ['_length'] , inplace = True)
X_train_0 = X_train_0.sort_values(by = ["Id"])

## Use X_train to get only IDs that we want for the model
y_train = y_train_0.filter(items = list(X_train_0.Id), axis=0).sort_values(by = ["Id"])

In [4]:
# Reading descriptor files

zscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\Z-scale.csv',skiprows=2,usecols = range(1,5))
dpps = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\DPPS.csv',skiprows=2,usecols = range(2,12))
mswhim = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\MS-WHIM.csv',skiprows=2,usecols = range(2,5))
physical = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\Physical.csv',skiprows=2,usecols = range(2,4))
stscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\ST-scale.csv',skiprows=2,usecols = range(2,10))
tscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\T-scale.csv',skiprows=2,usecols = range(2,7))
vhsescale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\VHSE-scale.csv',skiprows=2,usecols = range(2,10))

In [5]:
descriptor_tables = [zscale, dpps, mswhim, physical, stscale, tscale, vhsescale]
consol_desc = pd.concat(descriptor_tables, axis = 'columns')
consol_desc = consol_desc.set_index(consol_desc.columns[0])

In [6]:
consol_desc = consol_desc.T

def encode(seq):    
    x = pd.DataFrame([consol_desc[i] for i in seq]).reset_index(drop=True)
    x = x.T
    e = x.values.flatten()
    e = list(e)
    return e

#pep= 'SKGEELFTGVVPILVELDG'
#encode(pep)

In [8]:
## Just a check
dd = pd.DataFrame([consol_desc[i] for i in pep]).reset_index(drop=True)
dd = dd.T
ff = dd.values.flatten()
len(ff)

247

In [7]:
# Create matrix for the training data
X_train = X_train_0.copy()

X_train['features'] = X_train['CunstructedAASeq_cln'].progress_apply(encode)
X_train = pd.DataFrame(X_train['features'].to_list(), columns=range(0,9243))
X_train.to_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_train_output.csv',index=None, header=True)

  0%|          | 0/31029 [00:00<?, ?it/s]

In [8]:
X_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,9233,9234,9235,9236,9237,9238,9239,9240,9241,9242
0,1.96,2.84,2.23,3.08,3.08,-4.19,-1.39,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,3.56,-0.52,0.13
1,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
2,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
3,1.96,2.84,2.23,3.08,2.23,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
4,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13

In [9]:
# Create matrix for the test data
X_test = X_test_0.copy()

X_test['features'] = X_test['CunstructedAASeq_cln'].progress_apply(encode)
X_test = pd.DataFrame(X_test['features'].to_list(), columns=range(0,9243))
X_test.to_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_test_output.csv',index=None, header=True)

  0%|          | 0/20686 [00:00<?, ?it/s]

In [10]:
X_test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,9233,9234,9235,9236,9237,9238,9239,9240,9241,9242
0,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
1,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
2,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
3,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
4,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13

In [11]:
# Importing training and test data matrix from local folder

X_train = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_train_output.csv')
X_test = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_test_output.csv')

In [12]:
# Checking for nulls
X_train.isnull().any().sum()

0

In [14]:
#Scaling the training and test data set

scaler = preprocessing.StandardScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train),columns= X_train.columns, index = X_train.index) 

scaler = preprocessing.StandardScaler().fit(X_test)
X_test = pd.DataFrame(scaler.transform(X_test),columns= X_test.columns, index = X_test.index)

In [18]:
# Check submission

yy_train = y_train[['Brightness_Class']]

log_reg = LogisticRegression(random_state=10, max_iter=10000)
log_reg.fit(X_train, yy_train.values.ravel())

#Predicting the test set results
y_test = log_reg.predict(X_test)

In [19]:
y_test = pd.DataFrame(y_test, columns = ['Brightness_Class'])
y_test_final = pd.concat([X_test_0['Id'], y_test['Brightness_Class']], axis = 1)
y_test_final.to_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\y_test result.csv',index=None)

In [50]:
type(y_test)

pandas.core.frame.DataFrame

In [29]:
log_reg.score(X_train, yy_train)

0.625447162332012

In [21]:
y_test['Brightness_Class'].value_counts(normalize=True)

0    0.855264
1    0.144736
Name: Brightness_Class, dtype: float64

In [22]:
X_test_0['Id']

0        50579
1        37987
2        53977
3        10677
4        35653
         ...
20681    35750
20682    53940
20683    14948
20684    17040
20685    25919
Name: Id, Length: 20686, dtype: int64

In [24]:
y_test_final

          Id  Brightness_Class
0      50579                 0
1      37987                 0
2      53977                 0
3      10677                 1
4      35653                 0
...      ...               ...
20681  35750                 0
20682  53940                 0
20683  14948                 0
20684  17040                 0
20685  25919                 0

[20686 rows x 2 columns]

In [26]:
X_test_0

                                    CunstructedAASeq_cln     Id
0      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  50579
1      SKGEELFTGVVPILVELDGDVSGHKFSVSGEGEGDATYGKLTLKFI...  37987
2      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  53977
3      SKGEELFTGVVPILVELDGDVNGHKLSVSGEGEGDATYGKLTLKFI...  10677
4      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  35653
...                                                  ...    ...
20681  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  35750
20682  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  53940
20683  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  14948
20684  SKGEELFTRVVPILVGLDGDVNGHKFSVSGEGEGDATYGKLTQKFI...  17040
20685  SKGEELFTGVVPILVELDGDVNGHEFSVSGEGEGDATYGKLTLKFI...  25919

[20686 rows x 2 columns]

In [37]:
y_train.tail(20)

       Brightness_Class     Id
13809                 0  33008
13874                 0  33009
22134                 0  33010
28710                 0  33011
26075                 0  33013
26766                 1  33014
30169                 1  33015
25546                 1  33016
23066                 1  33017
15261                 0  33018
22046                 1  33019
8595                  1  33020
20062                 0  33021
15151                 0  33022
16544                 1  33023
25066                 0  33024
1581                  0  33025
17437                 1  33026
26633                 0  33027
3865                  1  33028

In [38]:
X_train_0.tail(20)

                                    CunstructedAASeq_cln     Id
15284  SKGGELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31009
20722  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31010
18746  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31011
20195  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31012
29556  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31013
31871  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31014
29074  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31015
7462   SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31016
32966  SKGEELFTGVVPILVELDGDVNGHKFSVSGESEGDATYGKLTLKFI...  31017
13532  SKGEELFTGVVPILVELDGDVNGHKFGVSGEGEGDATYGKLTLKYI...  31018
30343  SKGEELFTGVVPILVELDGDVNGRKFSVSGEGEGDATYGKLTLKFI...  31019
11994  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKLI...  31020
31617  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31021
24874  SKGEELFTGVVPILVELDGDVNGHKFSVSGGGEGGATYGKLTLKFI...  31022
10112  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31023
25702  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31024
15425  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31025
523    SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31026
21868  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI...  31027
12713  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGGATYGKLSLKFI...  31028