In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm
tqdm.pandas()
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [3]:
# Importing files

X_train_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_train_kaggle.csv')
y_train_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\y_train_kaggle.csv')
X_test_0 = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\X_test_kaggle.csv')
X_train_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33029 entries, 0 to 33028
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CunstructedAASeq_cln  33029 non-null  object
 1   Id                    33029 non-null  int64
dtypes: int64(1), object(1)
memory usage: 516.2+ KB

In [4]:
# Discarding records with length 235 
length = [len(X_train_0.CunstructedAASeq_cln[i]) for i in range(len(X_train_0))]
X_train_0['_length'] = length
X_train_0 = X_train_0[X_train_0['_length'] == 237]

# removed 2000 records with length 235, only ones with 237 are remaining
X_train_0['_length'].unique()
X_train_0.drop(columns = ['_length'] , inplace = True)

In [5]:
# Reading descriptor files

zscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\Z-scale.csv',skiprows=2,usecols = range(1,5))
dpps = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\DPPS.csv',skiprows=2,usecols = range(2,12))
mswhim = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\MS-WHIM.csv',skiprows=2,usecols = range(2,5))
physical = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\Physical.csv',skiprows=2,usecols = range(2,4))
stscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\ST-scale.csv',skiprows=2,usecols = range(2,10))
tscale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\T-scale.csv',skiprows=2,usecols = range(2,7))
vhsescale = pd.read_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\descriptors\VHSE-scale.csv',skiprows=2,usecols = range(2,10))

In [6]:
descriptor_tables = [zscale, dpps, mswhim, physical, stscale, tscale, vhsescale]
consol_desc = pd.concat(descriptor_tables, axis = 'columns')
consol_desc = consol_desc.set_index(consol_desc.columns[0])

In [7]:
consol_desc = consol_desc.T

def encode(seq):    
    x = pd.DataFrame([consol_desc[i] for i in seq]).reset_index(drop=True)
    x = x.T
    e = x.values.flatten()
    e = list(e)
    return e

In [8]:
## Just a check
dd = pd.DataFrame([consol_desc[i] for i in pep]).reset_index(drop=True)
dd = dd.T
ff = dd.values.flatten()
len(ff)

9243

In [10]:
# Create matrix for the training data

X_train = X_train_0.copy()


X_train['features'] = X_train['CunstructedAASeq_cln'].progress_apply(encode)
X_train = pd.DataFrame(X_train['features'].to_list(), columns=range(0,9243))
X_train

  0%|          | 0/31029 [00:00<?, ?it/s]

,0,1,2,3,4,5,6,7,8,9,...,9233,9234,9235,9236,9237,9238,9239,9240,9241,9242
0,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
1,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
2,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
3,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
4,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31024,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.41,-0.52,0.13
31025,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.19,0.13
31026,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
31027,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.41,-0.52,0.13
31028,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.83,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13

In [29]:
# Create matrix for the test data

X_test = X_test_0.copy()


X_test['features'] = X_test['CunstructedAASeq_cln'].progress_apply(encode)
X_test = pd.DataFrame(X_test['features'].to_list(), columns=range(0,9243))
X_test

  0%|          | 0/20686 [00:00<?, ?it/s]

,0,1,2,3,4,5,6,7,8,9,...,9233,9234,9235,9236,9237,9238,9239,9240,9241,9242
0,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
1,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
2,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
3,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
4,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20681,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
20682,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
20683,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13
20684,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.88,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,-0.03,0.02,-0.62,-0.52,0.13
20685,1.96,2.84,2.23,3.08,3.08,-4.19,-4.92,0.92,2.23,-2.69,...,-0.13,0.39,0.65,-1.34,-0.68,0.56,0.02,-0.62,-0.52,0.13

In [13]:
# Copy file to local
X_train.to_csv(r'C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW4\check.csv',index=None, header=True)

In [28]:
# Checking for nulls
X_train.isnull().any().sum()

0

In [30]:
# prepping the test data
y_train =  y_train_0.copy()

In [35]:
## Use X_train to get only IDs that we want for the model
y_train

       Brightness_Class     Id
0                     0  11328
1                     0   5781
2                     0  13681
3                     0  30804
4                     0  30813
...                 ...    ...
33024                 0   7024
33025                 0  14012
33026                 0   4140
33027                 1  15193
33028                 1  30255

[33029 rows x 2 columns]

In [33]:
#Scaling the training and test data set

scaler = preprocessing.StandardScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train),columns= X_train.columns, index = X_train.index) 

scaler = preprocessing.StandardScaler().fit(X_test)
X_test = pd.DataFrame(scaler.transform(X_test),columns= X_test.columns, index = X_test.index)

In [34]:
# Check submission

log_reg = LogisticRegression(random_state=6,max_iter=200)
log_reg.fit(X_train, y_train[['Brightness_Class']])

#Predicting the test set results
y_test = log_reg.predict(X_test)

C:\Users\kantg\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found input variables with inconsistent numbers of samples: [31029, 33029]